.navbar 
    .navbar__brand 
        .navbar__item 
            a.navbar__link(href="/")
                span.navbar__item__label 
                    |Floema
                span.navbar__item__icon
                    svg 
    .navbar__nav 
        .navbar__item 
            a.navbar__link(href="/collection") Collections
        .navbar__item 
            a.navbar__link(href="/about") About